In [5]:
# from scrollguard.utils import get_config, get_mongo_client
from scrollguard import utils, etl
import numpy as np
from io import StringIO
import json
import requests
import ssl
import urllib3
import xmltodict
import pandas as pd
from Levenshtein import ratio

pd.set_option("display.max_column", None)

SyntaxError: f-string: unmatched '[' (_extract.py, line 72)

In [4]:
pd.read_csv("https://www.treasury.gov/ofac/downloads/alt.csv",**{
                    "na_values": "-0- ",
                    # "engine": "python",
                    "skipfooter": 1,
                    "names": [
                        "ent_num",
                        "alt_num",
                        "alt_type",
                        "alt_name",
                        "alt_remarks"
                    ]
                })

/tmp/ipykernel_37829/1333028155.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support skipfooter; you can avoid this warning by specifying engine='python'.
  pd.read_csv("https://www.treasury.gov/ofac/downloads/alt.csv",**{

,ent_num,alt_num,alt_type,alt_name,alt_remarks
0,36,12,aka,AERO-CARIBBEAN,NaN
1,173,57,aka,AVIA IMPORT,NaN
2,306,220,aka,NATIONAL BANK OF CUBA,NaN
3,540,471,aka,COIBA,NaN
4,552,475,aka,CRYMSA,NaN
...,...,...,...,...,...
17231,47581,73674,aka,"ESFAHANI, Pouria Mir Damadi",NaN
17232,47583,73677,aka,TED TEKNOLOJI,NaN
17233,47583,73678,aka,TEDTEKNOLOJI,NaN
17234,47590,73694,aka,"KHADEMI, Mohammad Rida Esfandiar",NaN
17235,47590,73695,aka,"KHADEMI, Mohammad",NaN

In [18]:

from pymongo.mongo_client import MongoClient
from pymongo.server_api import ServerApi

uri = "mongodb+srv://joshdev:Paalamna00.@josh-dev-cluster.5icnwdn.mongodb.net/?retryWrites=true&w=majority"

# Create a new client and connect to the server
client = MongoClient(uri, server_api=ServerApi('1'))

# Send a ping to confirm a successful connection
try:
    client.admin.command('ping')
    print("Pinged your deployment. You successfully connected to MongoDB!")
except Exception as e:
    print(e)

Pinged your deployment. You successfully connected to MongoDB!

In [12]:
config = get_config().find_one({"source": "SOURCES"}, {"_id":0, "value":1})["value"]["EU"]

In [13]:
data = pd.read_csv(config["URL"], delimiter=";", engine="pyarrow")

In [ ]:
data = pd.read_csv(config["URL"], delimiter=";")

In [14]:
client = get_mongo_client()

In [15]:
db = client["scrollguard"]

In [16]:
db.drop_collection("KSJDHFJKDHF")

{'ok': 1.0}